/*------------------------------------*\
  #BODY
\*------------------------------------*/

// type scale
html {
  font-size: 16px;
}

body {
  font-family: var(--body-font-family);
}

p {
  margin-block-start: 0; // browser reset
  line-height: 1.25rem; // 20px
  margin-block-end: 1.25em;
}

// 📣 overwrite all of these and then delete them
h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem; // 📣 never use 3
  line-height: 1.15;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 2rem; // 32px
  font-size: 3rem; // 48px
	line-height: 4rem;
}

h2 {
  font-size: 2.5rem; // 40px
}

h3 {
  font-size: 2rem; // 32px
}

h4 {
  font-size: 1.5rem; // 24px
}

h5 {
  font-size: 1.25rem; // 20px
}

h6 {
  font-size: 1rem; // 16px
}

small {
  font-size: 0.75rem; // 12px
}

li {
  margin-block-end: var(--baseline);
}

// I was hoving a problem with a small bottom margin on images
img {
  // https://stackoverflow.com/questions/10844205/html-5-strange-img-always-adds-3px-margin-at-bottom
  vertical-align: middle;
}

address {
  font-style: unset; // browser default is italic
}

.text-center {
  // foundation style pulled over // I think wp has one of these already tho
  text-align: center;
}

.menu {
  list-style-type: none;
}

.mega a {
  text-decoration: none;
  padding: var(--global-padding);
  border-right: 0.1em solid var(--cinnabar);
  border-bottom: 0.1em solid var(--cinnabar);
}
.mega a:hover {
  text-decoration: none;
  background: var(--cinnabar);
  color: var(--white);
}

hr {
  margin: 1.25rem auto;
  border-top: 0;
  border-bottom: 1px solid var(--nickel);
}

.is-style-mega-hr,
.mega-hr {
  // this might be able to become a gutenberg style in for most places
  border-bottom-width: 0.5em;
  border-color: var(--white);

  border-style: solid;

  @media (min-width: map-get($breakpoints, medium)) {
    border-bottom-width: 1em;
  }
}

.is-style-mega-hr-primary,
.mega-hr-primary {
  @extend .mega-hr;
  border-color: var(--cinnabar);
}

.mega-hr-dirty {
  @extend .mega-hr;
  border-color: var(--mercury);
}

.mw-18em {
  // this should be renamed
  max-width: 18rem;
  justify-self: center;
}

figcaption,
.caption {
  color: var(--nickel);
  font-size: 1.5625rem;
  font-weight: bold;
}

/* doesnt come up in search
.footer_menu a {
	text-decoration: none;
}
*/

/* doesnt come up in search
.post-categories li {
	margin-block-end: 0;
}
*/

.comment-form input,
.comment-form textarea {
  border: 0.1em solid var(--nickel);
  font-weight: bold;
  padding: var(--global-padding);
  border-radius: 2px;
  width: calc(
    100% - 3em
  ); // feels like this should be 2.2em and is throwing errors on the post comment on a single page with a smaller width so should be more specific
}

.comment-form input {
  width: initial; // the text boxes can get smaller but the button hides the text if it gets smaller
}

.comment-form [type="checkbox"] {
  width: auto;
}

.comment-form input:focus,
.comment-form textarea:focus {
  outline: 0.1em solid var(--cinnabar);
  border-radius: 2px;
}

/*
.category-thumbnail { // this would be cool but it doesnt work with png
	// background: var(--black);
	// background: linear-gradient(53deg, rgba(2,0,36,1) 0%, rgba(194,33,39,1) 37%, rgba(0,212,255,1) #8a0000);
}
*/

/*
.category-thumbnail img { 
	// height: 100%;
}
*/

.category-thumbnail img:hover {
  opacity: 0.8; // indication of a link
}

.wp-block-code {
  // this is getting overwritten by js that isnt really doing much of what I want at the moment and needs fixing in riley-webpack
  background: var(--white);
  padding: var(--global-padding);
  line-height: 1.5em;
}

.flatten
// .flatten img
{
  transform: rotateX(90deg);
}

.flatten img {
  transform-origin: bottom;
  transition: 3s ease;
}

.base {
  filter: drop-shadow(16px 16px 10px var(--nickel));
  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(16px 16px 10px black);
  }
}

.show-for-medium {
  display: none;

  @media (min-width: map-get($breakpoints, medium)) {
    display: inherit;
  }
}

.hide-for-medium {
  @media (min-width: map-get($breakpoints, medium)) {
    display: none;
  }
}
.hide-for-large {
  @media (min-width: map-get($breakpoints, large)) {
    display: none;
  }
}

iframe {
  background: linen; // just a little fallback color incase an embed doesnt load
}

.category-overlaying-image {
  filter: grayscale(100%);
  mix-blend-mode: multiply;
  @media (prefers-color-scheme: dark) {
    mix-blend-mode: screen;
  }
  z-index: 14;
  grid-row: 1;
  grid-column: 1/4;
}

.category-color-blocking {
  background: var(--cinnabar);
  mix-blend-mode: multiply;
  z-index: 15;
  grid-row: 1;
  grid-column: 1/4;
  transition: 300ms ease;

  @media (min-width: map-get($breakpoints, medium)) {
    grid-column: 2/5;
  }
}

.category-color-blocking:hover {
  background: var(--cardinal);
}

/*
	theres a whole very specific way of dealing with the dev category which goes back on a bunch of the regular work done by the category design page 
*/

body.category-code {
  // needs to be on the body tag or a single article can be different to the page

  .category-overlaying-image {
    filter: none;
    mix-blend-mode: initial;
  }

  .category-color-blocking {
    display: none;
  }

  .category-color-blocking:hover {
    display: initial;
    opacity: 0.5;
  }

  .article-thumbnail {
    margin-block-start: calc(var(--global-transition) * 3);
  }

  .page-title a {
    color: var(--cinnabar);
  }

  .fp-header {
    padding: 0;
    grid-row: initial;

    hr {
      display: none;
    }
  }
}

// rebuilding this
.spine-border {
  background: var(--cinnabar);
  width: var(--global-margin);
  transition: 3s ease;
  justify-self: center;
}
