/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */

/*------------------------------------*\
  #SECTION-TITLE
\*------------------------------------*/

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);

$primary-color: #c22127;
$secondary-color: #8a0000;
$warning-color: #ffae00;

$black: #0a0a0a;
$white: #fefefe;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;

$global-margin: 1rem;
$global-padding: 1rem;

$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$header-font-family: $body-font-family;

body {
	font-family: $body-font-family;
}
// type scale
html {font-size: 16px;}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

li {
	margin-bottom: $global-margin;
}

.text-center { // foundation style pulled over // I think wp has one of these already tho
	text-align: center;
}

.menu {
	list-style-type: none;
}

.mega a {
	text-decoration: none;
	padding: $global-padding;
	border-right: 0.1em solid $primary-color;
	border-bottom: 0.1em solid $primary-color;
}
.mega a:hover {
	text-decoration: none;
	background: $primary-color;
	color: $white;
}

hr {
	margin: 1.25rem auto;
	border-top: 0;
	border-bottom: 1px solid $medium-gray;
}

.is-style-mega-hr,
.mega-hr { // this might be able to become a gutenberg style in for most places
	border-bottom-width: 0.5em;
	border-color: $white;
	border-style: solid;

	@media (min-width: map-get($breakpoints, medium)) {
		border-bottom-width: 1em;
	}
}

.mw-18em {
	max-width: 18em;
	justify-self: center;
}

figcaption,
.caption {
	color: $dark-gray;
	font-size: 1.5625rem;
	font-weight: bold;
}

.footer_menu a {
	text-decoration: none;
}

.post-categories li {
	margin-bottom: 0;
}

.comment-form input,
.comment-form textarea {
	border: 0.1em solid $medium-gray;
	font-weight: bold;
	padding: $global-padding;
	border-radius: 2px;
	width: calc(100% - 3em); // feels like this should be 2.2em 
}

.comment-form [type="checkbox"] {
	width: auto;
}

.comment-form input:focus,
.comment-form textarea:focus {
	outline: 0.1em solid $primary-color;
	border-radius: 2px;
}

.category-thumbnail { // this would be cool but it doesnt work with png
	// background: $black;
	// background: linear-gradient(53deg, rgba(2,0,36,1) 0%, rgba(194,33,39,1) 37%, rgba(0,212,255,1) #8a0000);
}

.category-thumbnail img { 
	// height: 100%;
}

.category-thumbnail img:hover {
	opacity: 0.8;
}

.wp-block-code {
	background: $white;
}