.ccc-west {
	display: none;
	@media (min-width: $medium) {
		display: inline;
		grid-column: 1;
		grid-row: 1/4;
	// 	margin-block-end: var(--global-margin);
	}
}

.clicks,
.code,
.camera {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; // this is a repeat

	grid-gap: 0.5em;
	// margin-block-end: var(--global-margin);

	@media (min-width: $medium) {
		grid-gap: 1em;
	}
}

.ccc-east {
	display: none;
	@media (min-width: $medium) {
		display: initial;
		grid-column: 3;
		grid-row: 1/4;
	// 	margin-block-end: var(--global-margin);
	}
}

.background-primary__social-icons {
	margin-block-start: var(--global-margin);
}

.social-icons {
	grid-column: 1/7; // this might be on the old lots of columns header
	grid-row: 1/4; // match ccc so we can borrow classes
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; // repeat this as well
	grid-gap: 1em;
}

.social-icons > .fp-box > a {
	// display: inline-block;
	display: block; // fill the social areas for a hover
}

.social-icons > .fp-box > a:hover {
	background: var(--cardinal);
}

.social-icons svg {
	width: 2em;
	padding-block-start: var(--global-padding);
	padding-block-end: var(--global-padding);

	@media (min-width: $medium) { // red text on brackets isnt a good sign does it need a prefix
		width: 3em;
	}
}

.social-icons svg {
	fill: var(--white);
}

.social-icons svg:hover {
	fill: var(--mercury);
}
