.ccc-west {
	grid-column: 1;
	grid-row: 1/4;
}

.clicks {
	grid-column: 2 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}

.code {
	grid-column: 2 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}

.camera {
	grid-column: 2 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}

.ccc-east {
	grid-column: 5;
	grid-row: 1/4;
}

.social-icons {
	grid-column: 2 / 5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
}

.social-icons svg {
	width: 2em;

	@include breakpoint(medium) {
		width: 3em;
	}
}

.social-icons svg {
	fill: $white;
}

.social-icons svg:hover {
	fill: $light-gray;
}
