/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Base
2.0 Header
3.0 Main
3.0 Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.1 Variables
--------------------------------------------------------------*/

.global-padding-bottom {
	padding-bottom: $global-padding;
}

/*--------------------------------------------------------------
1.0 Base
--------------------------------------------------------------*/

.page-width {
	max-width: 77em; // I think this should be from the wordpress setting // twenty nineteen is doing %20 + 60px above a certain size
	margin: 0 auto;
}

.spine-border {
	grid-column: 1;
	grid-row: 1 / 7; // thats a lot of numbers maybe there should be a map or use grid area?
	border-left: 4px solid $primary-color;
	margin-top: $global-margin*3; // this gets overwritten with an IO
	padding-top: $global-padding*3;
	z-index: 15; // why?
}

/*--------------------------------------------------------------
2.0 Header
--------------------------------------------------------------*/

.site-header {
	width: 100%;
	max-width: 77rem; // why am I repeating this from .page-width
	margin: 0 auto;
	display: grid;
	grid-gap: $global-grid-gap;
	grid-template-columns: 2em 1fr 1fr 1fr 2em;
}

.breadcrumbs {
	grid-column: 1;
	grid-row: 2 / 4;
	writing-mode: vertical-rl;
	justify-self: start;
}

.header-logo {
	grid-column: 5;
	grid-row: 1;
	place-self: start;

	@media (min-width: map-get($breakpoints, medium)) {
		justify-self: center;
		align-self: end;
	}
}

.home .header-logo {
	justify-self: center;
	align-self: start;
}

.header-color-blocking {
	z-index: 15; //same as .spine border? should it be above or below
	mix-blend-mode: multiply;
	background: $primary-color;
	grid-column: 2 / 5;
	grid-row: 2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
		grid-row: 1 / 3;
	}
}


/*--------------------------------------------------------------
2.1 Site Branding Text
--------------------------------------------------------------*/

.site-branding-text {
	grid-column: 2 / 5;
	grid-row: 2;
	padding-top: 0;
	padding-bottom: $global-padding;
	justify-self: center;
	z-index: 20;
	margin-top: $global-margin;
	margin-bottom: $global-margin; // can these two be written better as a single line?

	@media (min-width: map-get($breakpoints, medium)) {
		writing-mode: vertical-rl;
		grid-column: 3;
		grid-row: 2;
		margin-top: $global-margin*3;
		margin-bottom: $global-margin*3;
	}
}

.single .site-branding-text {
	grid-row: 1;
	justify-self: start; // fix problems caused by the home page
	padding-bottom: 0;
	// align-self: start;

	@media (min-width: map-get($breakpoints, medium)) {
		writing-mode: horizontal-tb;
		padding: 0;
		grid-column: 2;
		margin-top: 0; // ! single needs the margin but we dont here
		margin-bottom: 0; // this was -.25em but I think I've fixed that hack to pull it to the baseline
	}
}

.home .site-branding-text {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1 / 3;
		margin-top: $global-margin*3;
		margin-bottom: $global-margin; // can this be written as a single line?
	}
}

.site-branding-text h1 {
	margin: 0;
	font-size: 1.25em; // can this be written as a variable?
}

.spine {
	grid-column: 5;
	grid-row: 2 / 2;
	writing-mode: vertical-rl;
	place-self: end;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1 / 3;
	}
}

.custom-header-media,
.custom-header-featured-video {
	z-index: 10;
	grid-column: 2 / 5;
	grid-row: 1 / 3;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2 / 4;
	}
}

.single #top-menu {
	margin: 0;
	@media (min-width: map-get($breakpoints, medium)) {
		display: flex;
		flex-direction: row;
	}
}

/*--------------------------------------------------------------
2.1 Navigation
--------------------------------------------------------------*/

.navigation-top {
	grid-column: 2 / 5;
	grid-row: 3;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4;
		grid-row: 1 / 3;
	}

	display: grid;
	align-items: start;
}

.single .navigation-top {
	align-items: start; // seems like this is a repeat from .navigation-top
	grid-row: 2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1;
		grid-column: 3/5;
		place-self: end;
	}
}

.home .navigation-top {
	grid-row: 3;
	align-self: start;
	margin-bottom: $global-margin;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1;
		grid-column: 4;
		margin-bottom: $global-margin*3;
		align-self: center;
	}
}

/*--------------------------------------------------------------
3.0 Main
--------------------------------------------------------------*/

/*--------------------------------------------------------------
13.2 Front Page
--------------------------------------------------------------*/

.front-page-titles {
	width: 100%;
	max-width: 77rem; // again?
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2em 1fr 1fr 1fr 2em;
	grid-gap: $global-grid-gap;
}

/*--------------------------------------------------------------
3.1 Category
--------------------------------------------------------------*/

.category-header {
	max-width: 77em; // again?
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2em 1fr 8fr 1fr 2em;
}

.cat-head {
	grid-column: 2 / 5;
	padding-bottom: $global-padding*2;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
	}
}

.category-thumbnail {
	grid-column: 2 / 5;
	grid-row: 1 / 2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1;
	}
}

.article-search {
	grid-column: 2 / 12; // really?

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4 / span 1;
	}
}

.content_area {
	grid-column: 2 / span 10; // really?
	grid-row: 4 / span 2;
	align-self: center;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4 / span 6; // really?
		grid-row: 3;
		align-self: start;
	}
	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 4 / span 9; // really?
		grid-row: 3; /* this cant span multiple rows but it needs to be the largest so the next row sits tight against it, seems kinda a bad design decision incase something else gets bigger than it */
	}
}

.more { // which more is this?
	grid-column: 2 / span 10; // really?
	grid-row: 9; // really?

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4 / span 3;
		grid-row: 6;
	}
	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 4 / span 3;
		grid-row: 4;
	}
}



.category-titles {
	grid-column: 2 / 5;
	grid-row: 2;
	position: relative; // why?
	z-index: 99; // why?
	mix-blend-mode: multiply;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
		grid-row: 3;
		justify-self: center;
	}
}

.category-sub {
	max-width: 77em; // again?
	margin: 0 auto;
	margin-bottom: $global-margin;
}

.category-sub ul {
	display: grid;
	grid-template-columns: 1fr; // should this be a grid if its so simple?
	grid-gap: $global-grid-gap;
	margin-left: 0;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.category-sub li {
	list-style: none;
}

/*--------------------------------------------------------------
3.2 Featured
--------------------------------------------------------------*/

.featured-subheader {
	grid-column: 2;
	grid-row: 2 / 3;
	justify-self: center;
	writing-mode: vertical-rl;
}


.featured-category-title {
	grid-column: 1 / span 12; // really?
	grid-row: 2;
	justify-self: center;
}


.featured-excerpt {
	grid-column: 2 / 5;
	grid-row: 3;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
		grid-row: 2;
	}
}

/*--------------------------------------------------------------
3.4 Article
--------------------------------------------------------------*/
.site-main article { /* running wordpress post class prevents using a straight clasee */
	width: 100%;
	max-width: 77rem; // again?
	margin: 0 auto;

	display: grid;
	grid-gap: $global-grid-gap;
	grid-template-columns: 2em 1fr 4fr 4fr 1fr 2em;
	padding-top: $global-padding*2;
}

.article-thumbnail {
	grid-column: 2 / 6;
	grid-row: 1;
	// max-height: 100vh; // this causes issues on wide short screens but I get the idea of something tall can be very large
	// maybe it can be fixed with an overflow and then go even less than 100 to make it obvious and be able to scroll around it

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3 / 5;
	}
}

.article-thumbnail a, .category-thumbnail a {
	width: 100%;
	// display: grid; // is this just for a place-items
	display: block; // seems more suitable
}

.article-thumbnail img, .category-thumbnail img {
	// justify-self: center; // this should be handled by the block
}

.article-thumbnail > a > img, .category-thumbnail > a > img {
	width: 100%;
}

.article-header {
	width: 100%;
	// max-width: 77rem; // its inside of a grid it cant go anywhere?
	// margin: 0 auto; // it cant go anywhere its 100% wide

	grid-column: 2 / 6;
	// align-self: end; // I think its it own row it cant go anywhere
	grid-row: 2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3 / 5;
		// grid-row: 2; // this is a repeat of above
	}
}

.article-date {
	grid-row: 2;
	grid-column: 2 / 6;

	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 3 / 5;
	}
}

.article-speechbubble {
	grid-column: 4 / 6; //dealing with the last skinny column
	margin-bottom: $global-margin;
	justify-self: end;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4;
	}
}

.article-content {
	grid-column: 2 / 6;
	// grid-row: 4; // i guess by not defining it falls into place with whats above
	margin-bottom: $global-margin;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3 / 5;
	}
}

.article-content-specific { // single posts have more content in this block which is then held in by a foundation grid
	grid-column: 2 / 6;
}

.article-content-specific img {
	width: 100%;
}

.article-category {
	grid-column: 2 / 5;
	grid-row: 5;

	@media (min-width: map-get($breakpoints, medium)) {
		text-align: right;
		grid-column: 1 / 3;
		grid-row: 1 / 3;
		writing-mode: vertical-rl;
		align-self: end;
		overflow-x: scroll;
		max-height: 45em; // incase of a long category name it will truncate
	}
}

.single .article-category {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1 / 4; // this was 1/5 but neeeds checking as now the whole post sits in one using gutenberg blocks
	}
}

.article-base {
	//min-height: 3em; // this is a breaker in categories
	max-width: 77em; // again?
	margin-top: $global-margin*3; // rewrite this as a single
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	display: grid;
	grid-template-columns: 2em 1fr 1fr 1fr 2em;
	grid-gap: $global-grid-gap;
}

.base-explore {
	grid-column: 1;
	writing-mode: vertical-rl;
}

.base-tags {
	grid-column: 1;
	grid-row: 3;
	writing-mode: vertical-rl;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 5;
		grid-row: 1;
	}
}

.article-category .subheading {
	@media (min-width: map-get($breakpoints, medium)) {
		margin-bottom: 0;
	}
}

.article-category h3 ul,
.featured-category h3 ul {
	list-style-type: none;
	margin-left: 0;
	padding: 0;

	@media (min-width: map-get($breakpoints, medium)) {
		margin-bottom: 0;
	}
}

.article-explore {
	grid-column: 2 / 6;
	// grid-row: 5;
	padding-bottom: $global-padding;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3 / 5
	}
}

.article-navigation-title {
		grid-column: 2 / span 12; // really?
		grid-row: 9;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 13 / span 2; // this isnt written very well
		grid-row: 4;
		margin: 0;
		writing-mode: vertical-rl;
	}
}

.article-navigation-title a {
	color: $dark-gray;
}

.post-thumbnail {
	grid-column: 5 / span 8; // some of these are plain ugly
	grid-row: 1 / span 2;
	z-index: 5;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 5 / span 8;
		grid-row: 1 / span 2; // start with full height
	}
}

.post-thumbnail img {
	width: 100%;
}

// can the next few items be written nicer?
.post-navigation {
	grid-column: 2 / 5;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2;
	}
}


.article-comments {
	grid-column: 2 / 5;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
	}
}

.article-tags {
	grid-column: 2 / 5;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4;
	}
}

.article-tags h3 {
	@media (min-width: map-get($breakpoints, medium)) {
		writing-mode: vertical-rl;
	}
}

.fp-header {
	width: 100%;
	max-width: 77rem; // again?
	margin: 0 auto;

	grid-column: 2 / 6;
	align-self: end;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3 / 5;
	}
}


/*--------------------------------------------------------------
2.7 Featured Category
--------------------------------------------------------------*/

.featured-thumbnail {
	grid-column: 2 / 6;
	grid-row: 1;
	mix-blend-mode: multiply;
	filter: grayscale(100%);
}

.featured-header {
	grid-column: 3 / 5;
	align-self: center;
	grid-row: 1;
}

.featured-category {
	grid-column: 3 / 5;
}

/*--------------------------------------------------------------
3.6 Pagination
--------------------------------------------------------------*/

.pagination {
	margin: 3rem auto;
	max-width: 77em;
	display: grid;
	grid-gap: $global-grid-gap;
	grid-template-columns: 2em 1fr 4fr 1fr 2em; // fix
}

.pagination h2 { /* as wordpress controls this we are using elements for the grid */
	grid-column: 1 / 3;

	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 3 / span 4;
	}
}

.pagination .nav-links {
	grid-column: 2 / 5;

	display: flex;
	flex-direction: row;
	justify-items: flex-start; // is there a place-items for flex?
	align-items: flex-start;

	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 3;
	}
}

.pagination .nav-links .next, .pagination .nav-links .prev { // what is this overwritting?
	width: auto;
	writing-mode: vertical-rl;
	border-bottom: none;
	box-shadow: none;
}

.pagination span, .pagination a {
	margin-right: $global-margin;
}

/*--------------------------------------------------------------
3.7 Single
--------------------------------------------------------------*/

// front page and category does some things



.single .custom-header-media,
.single .custom-header-photo,
.single .custom-header-featured-video {
	grid-column: 2 / 5;
	grid-row: 3;
	align-self: end;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 2;
	}
}

.single .article-header,
.page .article-header,
.cat-404 .article-header {
	grid-row: 1; // re-organize with the featured image in the header
}

.article-tags h3 {
	margin: 0;
}

.single .article-category h3, .single .article-category .post-categories { // does this need the repeat from above?
	margin: 0;
}

.comment-reply-title {
	display: none;
}

.post-navigation {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2;
	}
}


.specific-grid {
	display: grid;
	grid-template-columns: 1fr 4fr 4fr 1fr;
	grid-gap: $global-grid-gap;
}

.subtitle {
	grid-column: 1;
	grid-row: 1/3;
	writing-mode: vertical-rl;
	text-decoration: line-through;
	margin-top: $global-margin*2;
}

.continental {
	grid-column: 2/4;
}

.west-medium {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2;
	}
}

.east-medium {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
	}
}

.west-large {
	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 2;
	}
}

.east-large {
	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 3;
	}
}

.gr-1-m { // this is really different from other classes?
	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1;
	}
}


/*--------------------------------------------------------------
4.0 Footer
--------------------------------------------------------------*/

.site-footer {
	width: calc(100% - 4em);
	max-width: 75rem; // keeps inside of the margins
	margin: 0 auto;
	padding: $global-padding 0;
	// align-items: end; Why am I pushing down?

	@media (min-width: map-get($breakpoints, medium)) {
		padding-top: $global-padding*5;
	}
}

.footer_menu {
	display: grid;
	grid-template-columns: 1fr; // start simple stack then go to direction. maybe this should be a flex
	grid-gap: $global-grid-gap;
	padding-top: $global-padding;
	margin-left: 0;
	padding-left: 0;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.footer_info {
	display: grid;
	grid-template-columns: 1fr; // start simple stack then go to direction. maybe this should be a flex
	grid-gap: $global-grid-gap;
	padding-top: $global-padding;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.footer_menu li {
	list-style: none;
}

.footer_nav a {
	padding: 0;
}

.footer_copyright {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 1;
	}
}

.footer_nav {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2;
		text-align: center;
	}
}

.footer_nav ul {
	margin: 0;
}

.footer_nav li {
	display: inline;
}

.footer_contact {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
		text-align: right;
	}
}
