/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Base
2.0 Header
3.0 Main
3.0 Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.1 Variables
--------------------------------------------------------------*/

// I think I can add these to specific things to stop the tag chain getting out of control

/*
.global-padding-bottom {
	padding-bottom: $global-padding;
}
*/

/*--------------------------------------------------------------
1.0 Base
--------------------------------------------------------------*/

/*
.page-width { doesnt turn up in search
	max-width: $page-width; // I think this should be from the wordpress setting // twenty nineteen is doing %20 + 60px above a certain size
	margin: 0 auto;
}
*/

.spine-border {
    grid-row: 1/3;
    grid-column: 1;
    z-index: 15; // over the top of categories on single
    justify-self: end;
    
    @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 1/3;
        justify-self: start; // categories takes up that space as well
    }
}

.single .spine-border, // even tho these are the same the names help keep them seperate
.category .spine-border {
    grid-row: 1/5; // image : header : date : content
    grid-column: 1;
    justify-self: start; // I think this is a browser default

    @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 1/4; // what are the 6: header : date : content
        justify-self: start; // categories takes up that space as well
    }
}

/*--------------------------------------------------------------
2.0 Header
--------------------------------------------------------------*/

.site-header {
	width: 100%;
	max-width: $page-width;
	margin: 0 auto $global-margin*2 auto;
	display: grid;
	grid-gap: $global-grid-gap;
	grid-template-columns: 2em 1fr 2em;

	@media (min-width: map-get($breakpoints, medium)) {
        grid-template-columns: 2em 1fr 1fr 1fr 2em;
        grid-template-rows: 2em 1fr 2em; // keep it tight up top with the header-logo
    }
}

.breadcrumbs {
	grid-column: 1;
	grid-row: 2 / 4;
	writing-mode: vertical-rl;
	justify-self: center;
}

.single .breadcrumbs {
	grid-row: 1/3;
	align-self: end;
    @media (min-width: map-get($breakpoints, medium)) {
		grid-row: 2;
		// align-self: start;
    }
}

.header-logo {
	grid-row: 1;
	grid-column: 3;
	justify-self: center; // macth the spine

	@media (min-width: map-get($breakpoints, medium)) {
		align-self: end; // this is for when the menu is horizontal on single pages
		grid-column: 5;
	}
}

.home .header-logo {
	justify-self: center;
	align-self: start;
}

.header-color-blocking {
	mix-blend-mode: multiply;
	background: $primary-color;
	z-index: 15; //same as .spine border? should it be above or below
	grid-row: 2;
	grid-column: 2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1 / 4;
		grid-column: 3;
	}
}


/*--------------------------------------------------------------
2.1 Site Branding Text
--------------------------------------------------------------*/

.site-branding-text {
	grid-row: 2;
	grid-column: 2;
	z-index: 20;

	@media (min-width: map-get($breakpoints, medium)) {
		writing-mode: vertical-rl;
		grid-row: 1/4;
		grid-column: 3;
		place-self: center;
	}
}

.single .site-branding-text {
	grid-row: 1;
	justify-self: start; // fix problems caused by the home page
	padding-bottom: 0;
	// align-self: start;

	@media (min-width: map-get($breakpoints, medium)) {
		writing-mode: horizontal-tb;
		padding: 0;
		grid-column: 2;
		margin-top: 0; // ! single needs the margin but we dont here
		margin-bottom: 0; // this was -.25em but I think I've fixed that hack to pull it to the baseline
	}
}

.home .site-branding-text {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1 / 3;
		margin-top: $global-margin*3;
		margin-bottom: $global-margin; // can this be written as a single line?
	}
}

/* 
.site-branding-text h1 {
	margin: 0;
	font-size: 1.25em; // can this be written as a variable?
}
*/

.spine {
	grid-row: 2 / 4;
	grid-column: 3;
	writing-mode: vertical-rl;
	justify-self: center;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 2;
		grid-column: 5;
		align-self: end;
	}
}

.custom-header-media {
	z-index: 10;
	grid-row: 1 / 3;
	grid-column: 2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 2;
		grid-column: 2 / 4;
	}

	img, picture {
        width: 100%; // max sure we fill the box
    }
}

.custom-header-featured-video {
	z-index: 10;
	grid-column: 2 / 5;
	grid-row: 1 / 3;
	// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
	position: relative;
	padding-bottom: 56.25%; // 16:9
	height: 0;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2 / 4;
	}
}

.custom-header-featured-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.single #top-menu {
	margin: 0;
	@media (min-width: map-get($breakpoints, medium)) {
		display: flex;
		flex-direction: row;
	}
}

/*------------------------------------*\
  # NAVIGATON TOP
\*------------------------------------*/

.navigation-top {
    grid-column: 2;
    grid-row: 3;

    @media (min-width: map-get($breakpoints, medium)) {
        grid-column: 4;
        grid-row: 2 / 4;
    }
}

.single .navigation-top {
    @media (min-width: map-get($breakpoints, medium)) {

        ul {
            display: flex;
            margin-top: 0; // browser reset
        }

        li {
            margin-bottom: 0;
            margin-right: $global-margin;
        }
        
        li:last-child() {
            margin-right: 0;
        }
    }
}
/* Im not sure if this is needed anymore pattern lab doesnt think so
.home .navigation-top {
	grid-row: 3;
	align-self: start;
	margin-bottom: $global-margin;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1;
		grid-column: 4;
		margin-bottom: $global-margin*3;
		align-self: center;
	}
} */

/*--------------------------------------------------------------
3.0 Main
--------------------------------------------------------------*/

/*--------------------------------------------------------------
13.2 Front Page
--------------------------------------------------------------*/

.front-page-titles { 
	width: calc(100% - 6rem);
	max-width: 71rem;
	margin: 0 auto;
	display: grid; // I am using this for the grid gap it could probably be done better
	grid-gap: $global-grid-gap/2; // double the grip half the gap
    grid-template-columns: repeat(6, 1fr);
    background: $white;
    padding-left: 1rem;
	padding-right: 1rem;
	
	// this needs a couple of media queries to match the header grid
	@media (min-width: map-get($breakpoints, medium)) {
		grid-gap: $global-grid-gap;
	}

	@media (min-width: 77rem) {

	}
}

/*--------------------------------------------------------------
3.1 Category
--------------------------------------------------------------*/

.category-header {
	max-width: $page-width;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2em 1fr 8fr 1fr 2em;
}

.cat-head {
	grid-column: 2 / 5;
	padding-bottom: $global-padding*2;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
	}
}

.category-thumbnail {
	grid-column: 2 / 5;
	grid-row: 1 / 2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1;
	}
}

/* this doesnt appear to be anywhere
.article-search {
	grid-column: 2 / 12; // really?

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4 / span 1;
	}
}
*/

/* doesnt show in search 
.content_area {
	grid-column: 2 / span 10; // really?
	grid-row: 4 / span 2;
	align-self: center;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4 / span 6; // really?
		grid-row: 3;
		align-self: start;
	}
	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 4 / span 9; // really?
		grid-row: 3;
		// this cant span multiple rows but it needs to be the largest so the next row sits tight against it,
		seems kinda a bad design decision incase something else gets bigger than it
	}
}
*/

/* doesnt show in search
.more { // which more is this?
	grid-column: 2 / span 10; // really?
	grid-row: 9; // really?

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4 / span 3;
		grid-row: 6;
	}
	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 4 / span 3;
		grid-row: 4;
	}
}
*/

/* doesnt show in search
.category-titles {
	grid-column: 2 / 5;
	grid-row: 2;
	position: relative; // why?
	z-index: 99; // why?
	mix-blend-mode: multiply;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
		grid-row: 3;
		justify-self: center;
	}
}
*/

.category-sub {
	width: calc(100% - 6rem);
	max-width: $page-width;
	margin: 0 auto;
	margin-bottom: $global-margin;
}

.category-sub ul {
	padding-left: 0;

	@media (min-width: map-get($breakpoints, medium)) {
		display: grid;
		grid-template-columns: repeat(3, 1fr); // this is probably far too simple and should be a flex
		grid-gap: $global-grid-gap;
	}
	
	li {
		list-style: none;
		text-align: center;
	}
}

/*--------------------------------------------------------------
3.2 Featured
--------------------------------------------------------------*/

/* doesnt show in search
.featured-subheader {
	grid-column: 2;
	grid-row: 2 / 3;
	justify-self: center;
	writing-mode: vertical-rl;
}
*/

/* doesnt show in search
.featured-category-title {
	grid-column: 1 / span 12; // really?
	grid-row: 2;
	justify-self: center;
}
*/

/* doesnt show in search
.featured-excerpt {
	grid-column: 2 / 5;
	grid-row: 3;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
		grid-row: 2;
	}
}
*/

/*--------------------------------------------------------------
3.4 Article
--------------------------------------------------------------*/
.site-main article { /* running wordpress post class prevents using a straight clasee */
	width: calc(100% - 2rem); // slightly different so the sid bar fits
	max-width: 71rem;
	margin: 0 auto;

	display: grid;
	grid-gap: $global-grid-gap;
	padding-top: $global-padding*2;

	// grid-template-columns: 4px 1fr 4fr 4fr 1fr 4px; // why 4px?
	grid-template-columns: 1rem 1fr 1rem; // why 4px?
	// maybe this should be to match the header and footer grid atleast at large sizes 2em 1fr 2fr 2fr 1fr 2em

	@media (min-width: map-get($breakpoints, medium)) {
		width: calc(100% - 6rem); // slightly different so the sid bar fits
		// grid-template-columns: 2em 1fr 4fr 4fr 1fr 2em;
		grid-template-columns: repeat(6, 1fr); // slightly more complex to fit with the rest of the page grid
	}
}

.article-thumbnail {
    grid-row: 1;
    grid-column: 2;
    // max-height: 100vh; // this causes issues on wide short screens but I get the idea of something tall can be very large
    // maybe it can be fixed with an overflow and then go even less than 100 to make it obvious and be able to scroll around it

    @media (min-width: map-get($breakpoints, medium)) {
        grid-column: 2 / 6;
    }
}

.article-thumbnail a, .category-thumbnail a {
	width: 100%;
	// display: grid; // is this just for a place-items
	display: block; // seems more suitable
}

/*
.article-thumbnail img, .category-thumbnail img {
	// justify-self: center; // this should be handled by the block
}
*/

.article-thumbnail > a > img, .category-thumbnail > a > img {
	width: 100%;
}

.article-header {
	width: 100%;
	grid-column: 2 / 6;
	// align-self: end; // I think its it own row it cant go anywhere
	grid-row: 2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3 / 5;
		// grid-row: 2; // this is a repeat of above
	}
}

.article-speechbubble {
	grid-column: 4 / 6; //dealing with the last skinny column
	justify-self: end;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4;
	}
}

.article-speechbubble > .speeechbubble {
	margin-bottom: $global-margin;
}

.article-content {
	grid-column: 2;
	margin-bottom: $global-margin;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2 / 6;
		margin-bottom: $global-margin*3;
	}
}

.article-content-specific { // single posts have more content in this block which is then held in by a foundation grid
	grid-column: 2 / 6;
}

.article-content-specific img {
	width: 100%;
}

.article-category {
    grid-column: 2;
    grid-row: 4;

    @media (min-width: map-get($breakpoints, medium)) {
        text-align: right;
        grid-row: 1 / 3;
        grid-column: 1;
        writing-mode: vertical-rl;
        align-self: end;
        overflow-x: scroll;
        max-height: 45em; // incase of a long category name it will truncate
    }
    
    ul {
        padding-left: 0; // browser reset
    }

    a {
        color: $dark-gray; // purposly not as strong as a regular link
    }
}

.single .article-category {
    @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 1 / 4; // header : date : content
        align-self: start;
        grid-column: 1;
    }

    h3 {
        margin: 0;
        grid-column: 1;
    }
}

.article-base {
	//min-height: 3em; // this is a breaker in categories
	max-width: $page-width;
	margin-top: $global-margin*3; // rewrite this as a single
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	display: grid;
	grid-template-columns: 2em 1fr 1fr 1fr 2em;
	grid-gap: $global-grid-gap;
}

.base-explore {
	grid-column: 1;
	writing-mode: vertical-rl;
}

.base-tags {
	grid-column: 1;
	grid-row: 3;
	writing-mode: vertical-rl;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 5;
		grid-row: 1;
	}
}

.article-category .subheading {
	@media (min-width: map-get($breakpoints, medium)) {
		margin-bottom: 0;
	}
}

.article-category h3 ul,
.featured-category h3 ul {
	list-style-type: none;
	margin-left: 0;
	padding: 0;

	@media (min-width: map-get($breakpoints, medium)) {
		margin-bottom: 0;
	}
}

.article-explore {
	grid-column: 2;
	margin-bottom: $global-margin;

    @media (min-width: map-get($breakpoints, medium)) {
        grid-column: 2/6;
    }
}

/* doesnt show in search
.article-navigation-title {
		grid-column: 2 / span 12; // really?
		grid-row: 9;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 13 / span 2; // this isnt written very well
		grid-row: 4;
		margin: 0;
		writing-mode: vertical-rl;
	}
}

.article-navigation-title a {
	color: $dark-gray;
}
*/

/* doesnt show in search
.post-thumbnail {
	grid-column: 5 / span 8; // some of these are plain ugly
	grid-row: 1 / span 2;
	z-index: 5;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 5 / span 8;
		grid-row: 1 / span 2; // start with full height
	}
}

.post-thumbnail img {
	width: 100%;
}
*/

// can the next few items be written nicer?
.post-navigation {
	grid-column: 2 / 5;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2;
	}
}


.article-comments {
	grid-column: 2 / 5;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
	}
}

.article-tags {
	grid-column: 2 / 5;
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 4;
	}
	
	h3 {
		@media (min-width: map-get($breakpoints, medium)) {
			writing-mode: vertical-rl;
		}
	}
}

.fp-header {
	grid-column: 2;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2 / 6;
	}
}


/*--------------------------------------------------------------
2.7 Featured Category
--------------------------------------------------------------*/

.featured-thumbnail {
	grid-column: 2 / 6;
	grid-row: 1;
	mix-blend-mode: multiply;
	filter: grayscale(100%);
}

.featured-header {
	grid-column: 3 / 5;
	align-self: center;
	grid-row: 1;
}

.featured-category {
	grid-column: 3 / 5;
}

/*--------------------------------------------------------------
3.6 Pagination
--------------------------------------------------------------*/

.pagination {
	margin: 3rem auto;
	max-width: $page-width;
	display: grid;
	grid-gap: $global-grid-gap;
	grid-template-columns: 2em 1fr 4fr 1fr 2em; // fix
}

.pagination h2 { /* as wordpress controls this we are using elements for the grid */
	grid-column: 1 / 3;

	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 3 / span 4;
	}
}

.pagination .nav-links {
	grid-column: 2 / 5;

	display: flex;
	flex-direction: row;
	justify-items: flex-start; // is there a place-items for flex?
	align-items: flex-start;

	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 3;
	}
}

.pagination .nav-links .next, .pagination .nav-links .prev { // what is this overwritting?
	width: auto;
	writing-mode: vertical-rl;
	border-bottom: none;
	box-shadow: none;
}

.pagination span, .pagination a {
	margin-right: $global-margin;
}

/*--------------------------------------------------------------
3.7 Single
--------------------------------------------------------------*/

// front page and category does some things
.single .custom-header-media,
.single .custom-header-photo,
.single .custom-header-featured-video {
	grid-column: 2 / 5;
	grid-row: 3;
	align-self: end;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 2;
	}
}

.single .article-header,
.page .article-header,
.cat-404 .article-header {
	grid-row: 1; // re-organize with the featured image in the header
}

/* these dont appear to exisit
.article-tags h3 {
	margin: 0; // why nothing below?
}
*/

.single .article-category h3,
.single .article-category .post-categories {
	margin: 0; // these are vertical text hence not having a margin below
}

.post-categories > li {
	@media (min-width: map-get($breakpoints, medium)) {
		margin-bottom: 0; // vertical text doesnt need a margin below
	}
}

.comment-reply-title { // Im sure this is in comments but it needs documentation
	display: none;
}

.post-navigation {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2;
	}
}

.specific-grid {
	display: grid;
	grid-template-columns: 1fr 4fr 4fr 1fr;
	grid-gap: $global-grid-gap;
}

.subtitle {
	grid-column: 1;
	grid-row: 1/3;
	writing-mode: vertical-rl;
	text-decoration: line-through;
	margin-top: $global-margin*2;
}

.continental {
	grid-column: 2/4;
}

.west-medium {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2;
	}
}

.east-medium {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
	}
}

.west-large {
	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 2;
	}
}

.east-large {
	@media (min-width: map-get($breakpoints, large)) {
		grid-column: 3;
	}
}

.gr-1-m { // this is really different from other classes?
	@media (min-width: map-get($breakpoints, medium)) {
		grid-row: 1;
	}
}

/*--------------------------------------------------------------
4.0 Footer
--------------------------------------------------------------*/

.site-footer {
	width: calc(100% - 6rem);
	max-width: 71rem; // keeps inside of the margins
	margin: 0 auto;

	@media (min-width: map-get($breakpoints, medium)) {
		padding-top: $global-padding*5; // guess and check
	}
}

.footer_menu {
	display: grid;
	grid-template-columns: 1fr; // start simple stack then go to direction. maybe this should be a flex
	grid-gap: $global-grid-gap;
	padding-top: $global-padding;
	margin-left: 0;
	padding-left: 0;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.footer_info {
	display: grid;
	grid-template-columns: 1fr; // start simple stack then go to direction. maybe this should be a flex
	grid-gap: $global-grid-gap;
	padding-top: $global-padding;

	@media (min-width: map-get($breakpoints, medium)) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.footer_menu li {
	list-style: none;
}

.footer_nav a {
	padding: 0;
}

.footer_copyright {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 1;
	}
}

.footer_nav {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 2;
		text-align: center;
	}
}

.footer_nav ul {
	margin: 0;
	padding: 0; // browser reset
}

.footer_nav li {
	display: inline;
}

.footer_contact {
	@media (min-width: map-get($breakpoints, medium)) {
		grid-column: 3;
		text-align: right;
	}
}
