/*--------------------------------------------------------------
	Additional Fancy mani menu sliders
  // https://codepen.io/rm/pen/ldhon
--------------------------------------------------------------*/

// which pages have a vertical menu stack
// front page 
// Category
// page

:is(.home, .category, .page) #top-menu {
    min-height: 3rem; // pulling the hr up means we need to specify this
    @media (min-width: $medium) {
        min-height: 10rem;
    }

    a {
        width: 100%;
        display: block;
    }

    a:hover {
        text-decoration: none;
        display: block;
    }
  
    li {
      list-style: none;
    }
  
    li:first-child:hover ~ hr {
      margin-block-start: -6rem; // weird backwards math
      opacity: 1;
      @media (min-width: $medium) {
        margin-block-start: -10rem; // guess and check but from where?
      }
    }
  
    li:nth-child(2):hover ~ hr {
      margin-block-start: -3rem;
      opacity: 1;

      @media (min-width: $medium) {
        margin-block-start: -5.5rem; // 1rem from padding-top 3rem from camera
      }
    }
  
    li:nth-child(3):hover ~ hr {
      margin-block-start: 0;
      opacity: 1;
      @media (min-width: $medium) {
        margin-block-start: -1rem; // guess and check but from where?
      }
    }

    // math
    // medium up
    // each of the lower 2 has a 1rem padding-top
  
    hr {
      position: sticky; // lets me remove width and defaults to 100% which absolute does not
      background: var(--cardinal);
      border: none;
      transition: 0.3s ease-in-out;
      z-index: -1; // slide behind and dont get in the way of the hover
      margin-block-start: -9rem; // start at the top makes more sense as thats where people come from // this also causes the shape of the resting ul to be tiny
      opacity: 0;
      height: 0.5rem;

      @media (min-width: $medium) {
        // width: 22%; // guess and check
        // max-width: 22rem; // guess and check
        height: 1rem;
        margin-block-start: -10rem; // start at the top makes more sense as thats where people come from
      } // medium
    } // hr
} // #top-menu

// which pages have a horizontal menu stack
// single

.single #top-menu {
  display: inline;

  a:hover {
      text-decoration: none;
  }

  li {
    display: block;
    @media (min-width: $medium) {
      display: inline-block;
    }
  }

  // 📣 this seems weird and wet
  li:first-child:hover ~ hr {
    margin-left: 0;
    opacity: 1;
  }

  li:nth-child(2):hover ~ hr {
    opacity: 1;
  }

  li:nth-child(3):hover ~ hr {
    opacity: 1;
  }

    hr {
      height: 1rem;
      margin: 0;
      margin-block-end: -1rem; // sit in the grid gap
      opacity: 0;
      background: var(--cardinal);
      border: none;
      transition: .3s ease-in-out;
    }
}
