svg:not(:root) { // thats a pretty strange selector is it right?
	overflow: hidden;
}

/*--------------------------------------------------------------
	Accessibility
--------------------------------------------------------------*/

.screen-reader-text {
	width: 0;
	height: 0;
	overflow: hidden;
}

.single-code {
	@extend .background-double--dark;
	padding: var(--global-padding);
}

// I'm using these in captchas
table {
	width: 100%;
}

/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/

.menu li {
	margin-right: var(--global-margin);
}

.menu li:last-child {
	margin-right: 0;
}

.site-title {
	color: var(--white);
}

.page-title a {
	// color: var(--cinnabar);
	color: var(--white);
}

.sticky .page-title a {
	text-decoration: none; // why removing the indication and then replacing it with a border-bottom
	border-bottom: 3px solid var(--cinnabar); // global
	box-shadow: inset 0 -4px 0 var(--cinnabar);
}

.sticky .page-title a:hover {
	border-bottom: none;
	box-shadow: none;
	background-color: rgba(var(--cardinal), 0.3); // why am I using a warning color here?
}

.article-footer a,
.quote-content p a,
.quote-footer a {
	text-decoration: none; //why removing the indication of a link?
	color: var(--cinnabar);
}

.article-footer a:hover,
.quote-content p a:hover,
.quote-footer a:hover {
	text-decoration: line-through;
}

.breacdcrumbs {
	color: var(--nickel);
}

.breadcrumbs a {
	color: var(--iron); // dark-gray doesn't pass contrast checks but I didn't want to go all the way to black
	text-decoration: line-through;

	@media (prefers-color-scheme: dark) {
		color: var(--mercury);
	}
}

.breadcrumbs a:hover {
	color: var(--cinnabar);
	text-decoration: underline;
}

.pagination a {
	color: var(--cinnabar);
	text-decoration: underline;
}

.pagination a:hover,
.pagination .current {
	text-decoration: line-through;
	color: var(--cinnabar);
	background: none;
}

.pagination .nav-links .next,
.pagination .nav-links .prev {
	border-bottom: none;
	box-shadow: none; // would this have a box shadow?
	color: var(--black);
	@media (prefers-color-scheme: dark) {
		color: var(--white);
	}
}

.pagination .nav-links .next,
.pagination .nav-links .prev {
	text-decoration: underline;
}

.pagination .nav-links .next:hover,
.pagination .nav-links .prev:hover {
	text-decoration: line-through;
}

.footer_copyright a,
.footer_nav a,
.footer_contact a {
	font-weight: bold;
}

.article-tags a {
	@extend button;
	margin-block-end: 0;

	@media (min-width: $medium) {
		text-align: right;
	}
}

/*--------------------------------------------------------------
11.0 Featured Image Hover
--------------------------------------------------------------*/

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.navigation-top ul { // does this need to be told to be a flex?
	// flex-direction: column;
	padding-left: 0;

	@media (min-width: $medium) {
		padding-left: var(--global-padding);
	}
}

.navigation-top ul li {
	font-size: 1.5rem; // type scale?
	font-weight: bold;
	// margin-block-start: var(--global-margin);
	// padding-block-start: var(--global-padding); // this has to be a padding otherwise you loose the hr on scroll between
	margin-block-end: 0;
	@media (min-width: $medium) {
		font-size: 2.25rem; // type scale?
		line-height: 4.5rem;
	}
}

.navigation-top ul li a {
	padding: 0;
}

.category-sub li {
	text-align: center;
}

.category-sub li {
	// border: .25em solid var(--cinnabar); // global?
	
	a {
		font-weight: bold;
		background: var(--cinnabar);
		color: var(--white);
		padding: var(--global-padding);
		display: block;
		text-decoration: none;
		box-shadow: var(--shade);
		transition: var(--global-transition);

		@media (prefers-color-scheme: dark) {
			box-shadow: var(--shade--dark);
		}
	}

	a:hover {
		background: var(--cardinal);
		text-decoration: line-through;
		box-shadow: var(--shade_hover);

		@media (prefers-color-scheme: dark) {
			box-shadow: var(--shade_hover--dark);
		}
	}
}

/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/

body {
	min-height: 100vh; // make sure the page is always filled
}

img, video, figure {
	height: auto;
	max-width: 100%;
}

.img-100, .img-100 img {
	width: 100%;
}

.box { // I really want to get rid of this what is it and where is it used?
	overflow: hidden;
	z-index: 10;
	width: 100%;
}

/*--------------------------------------------------------------
13.1 Header
--------------------------------------------------------------*/

.subheader {
	font-size: 2em; // type scale?
	color: var(--nickel);
	margin: 0.1em 0; // why so slender? or just be a zero
}

.site-branding-text {
    writing-mode: vertical-rl;
    justify-self: center;
    background: black; // adding this incase we dont have images the text is still visible // true black not var(--black) for the screen blend to not show anything

    a {
        color: var(--white);
        padding: var(--global-padding);
        display: inline-block; // am I sure this is neccessary
    }
}

.single .site-branding-text { // no longer over the image
    writing-mode: initial;

    a {
		padding: initial;
		color: var(--black);
		@media (prefers-color-scheme: dark) {
			color: var(--white);
		}
	}
}

.overlaying-image {
	filter: grayscale(100%); // does this need a 100% or is this a default?
	mix-blend-mode: multiply;
	@media (prefers-color-scheme: dark) {
		mix-blend-mode: screen;
	}
	z-index: 14; // why this number?
}

.custom-header-media img,
.custom-header-media picture {
	width: 100%;
}

/*--------------------------------------------------------------
13.2 Front Page
--------------------------------------------------------------*/

.front-page-titles {

	// background: var(--white);
	text-align: center;
	font-weight: bold;
}

.fp-box { // front page box these are the red areas behind clicks code and camera on the split levels
	background: var(--cinnabar);
	color: var(--white);
/* 	padding: 0.5em;

	@media (min-width: $medium) {
		padding: var(--global-padding);
	} */
}
/*--------------------------------------------------------------
13.3 Regular Content
--------------------------------------------------------------*/

.single .site-title {
	color: var(--black);
}

.cat-title { // wrong place
	margin-block-start: calc(var(--global-transition) * 2);
	font-size: 2em; // type scale?

	@media (min-width: $medium) {
		font-size: 3em; // type scale?
	}
}

/*--------------------------------------------------------------
13.4 Posts
--------------------------------------------------------------*/

.featured-subheader a {
	color: var(--nickel);
}

.featured-category-title {
	margin: 0.5em auto; // why is this and padding compressed?
	font-size: 2em; // type scale?
	border: 0.2em solid var(--cinnabar); // global?
	padding: 0.5em;
	word-wrap: break-word;
	text-align: center;

	 @media (min-width: $medium) {
		 font-size: 6em; // this is really large?
	}
}

.featured-category-title a:hover {
	text-decoration: line-through;
}

.category-titles a {
	color: var(--cinnabar);
}

.category-titles a:hover {
	text-decoration: line-through;
}

.form-submit {
	text-align: right;
}


/*--------------------------------------------------------------
15.0 Widgets
--------------------------------------------------------------*/

/*--------------------------------------------------------------
16.0 Media
--------------------------------------------------------------*/

figure {
	margin: 0;
}

/* SVG Icons base styles */

svg {
	fill: currentColor;
	width: 1em; // thats pretty small?
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative; /* Align more nicely with capital letters */ // what was it before?
	top: -0.0625em;
	vertical-align: middle; // doesnt this negate what comes before?
	width: 1em;
}

.wp-caption,
.gallery-caption {
	color: var(--nickel);
	font-style: italic;
	margin-block-end: 1.5em;
}

.wp-caption img[class*="wp-image-"] { // clarify this selector?
	display: block;
	margin-left: auto; // can this be done in one line?
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: var(--global-margin) 0;
}

.cfimg {
	display: grid;
}
.cfimg picture {
	grid-column: 1;
	grid-row: 1;
	animation-name: FadeInOut;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	z-index: 1;
}

// http://css3.bradshawenterprises.com/cfimg/
/* Just do the link I dont understand the math
For "n" images You must define:
a=presentation time for one image
b=duration for cross fading
Total animation-duration is of course t=(a+b)*n

animation-delay = t/n or = a+b

Percentage for keyframes:

	0%
	a/t*100%
	(a+b)/t*100% = 1/n*100%
	100%-(b/t*100%)
	100%

css slidesshow in Rileys google drive can do all the math

*/
@keyframes FadeInOut {
	0% {
		opacity:1;
	}
	15% {
		opacity:1;
	}
	20% {
		opacity:0;
	}
	95% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.cfimg picture:nth-of-type(1) {
	animation-delay: 16s;
}
.cfimg picture:nth-of-type(2) {
	animation-delay: 12s;
}
.cfimg picture:nth-of-type(3) {
	animation-delay: 8s;
}
.cfimg picture:nth-of-type(4) {
	animation-delay: 4s;
}
.cfimg picture:nth-of-type(5) {
	animation-delay: 0;
}

/*--------------------------------------------------------------
16.1 Galleries
--------------------------------------------------------------*/

.gallery-item { // am I using any galleries and I presume these have changed with gutenberg?
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0 0 1.5em;
	padding: 0 1em 0 0;
	width: 50%;

	@media (min-width: $medium) {
			max-width: 25%;
	}
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus,
.widget-area .gallery-item a,
.widget-area .gallery-item a:hover,
.widget-area .gallery-item a:focus {
	-webkit-box-shadow: none; // will sass do this for me?
	box-shadow: none;
	background: none; // whats this overwritting?
	display: inline-block;
	max-width: 100%;
}

.gallery-item a img {
	display: block;
	-webkit-transition: -webkit-filter 0.2s ease-in;
	transition: -webkit-filter 0.2s ease-in;
	transition: filter 0.2s ease-in;
	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
	-webkit-backface-visibility: hidden; // what is this and will sass deal with the pre name?
	backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
	-webkit-filter: opacity(60%); // will sass do this for me?
	filter: opacity(60%);
}

.gallery-caption {
	display: block;
	text-align: left;
	padding: 0 var(--global-padding) 0 0;
	margin-block-end: 0;
}

.gallery-columns-1 .gallery-item {
		@media (min-width: $medium) {
			max-width: 100%;
		}
	}

	.gallery-columns-2 .gallery-item {
		@media (min-width: $medium) {
			max-width: 50%;
		}
	}

	.gallery-columns-3 .gallery-item {
		@media (min-width: $medium) {
			max-width: 33.33%;
		}
	}

	.gallery-columns-4 .gallery-item {
		@media (min-width: $medium) {
			max-width: 25%;
		}
	}

.gallery-caption {
	color: var(--nickel);
}

/*--------------------------------------------------------------
17.0 Customizer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/

.svg-fallback { // clarify this? seems like its taken from something?
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}

.no-svg .dropdown-toggle {
	padding: 0.5em 0 0;
	right: 0;
	text-align: center;
	width: 2em;
}

.no-svg .dropdown-toggle .svg-fallback.icon-angle-down {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1;
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	-ms-transform: rotate(180deg); /* IE 9 */
	transform: rotate(180deg);
}

.no-svg .dropdown-toggle.toggled-on .svg-fallback.icon-angle-down {
	-webkit-transform: rotate(0); /* Chrome, Safari, Opera */
	-ms-transform: rotate(0); /* IE 9 */
	transform: rotate(0);
}

.no-svg .dropdown-toggle .svg-fallback.icon-angle-down:before {
	content: "\005E";
}

/* Social Menu fallbacks */

.no-svg .social-navigation a {
	background: transparent;
	color: #222;
	height: auto;
	width: auto;
}

/* Show screen reader text in some cases */

.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .social-navigation li a .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}

/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
20.0 Print
--------------------------------------------------------------*/

@media print { // why have I got an empty selector?

	/* Hide elements */

}
