// type scale
html {
  font-size: 16px;
}

body {
  font-family: var(--body-font-family);
}

p {
  margin-block-start: 0; // browser reset
  line-height: 1.25rem; // 20px
  margin-block-end: 1.25em;

	@media (min-width: $large) {
		text-align: justify;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-block-start: 0; // browser reset
}

h1 {
  margin-block-start: 0;
  margin-block-end: 2rem; // 32px
  font-size: 3rem; // 48px
	line-height: 4rem;
}

h2 {
  font-size: 2.5rem; // 40px
  line-height: 3rem; // 48px
  margin-block-end: 2rem; // 32px
}

h3 {
  font-size: 2rem; // 32px
  line-height: 2.5rem; // 40px
  margin-block-end: 1.5rem; // 24px
}

h4 {
  font-size: 1.5rem; // 24px
  line-height: 2rem; // 32px
  margin-block-end: 1.25rem; // 20px
}

h5 {
  font-size: 1.25rem; // 20px
  line-height: 1.5rem; // 24px
  margin-block-end: 1rem; // 16px
}

h6 {
  font-size: 1rem; // 16px
  line-height: 1.25rem; // 20px
  margin-block-end: 1.25rem; // 20px
}

small {
  font-size: 0.75rem; // 12px
  line-height: 1rem; // 16px
  margin-block-end: 0.5rem; // 8px
}

address {
  font-style: unset; // browser default is italic
}

.text-center {
  // foundation style pulled over // I think wp has one of these already tho
  text-align: center;
}

figcaption,
.caption {
  color: var(--nickel);
  font-size: 1.5625rem;
  font-weight: bold;
}

.wp-block-code {
  // this is getting overwritten by js that isnt really doing much of what I want at the moment and needs fixing in riley-webpack
  background: var(--white);
  padding: var(--global-padding);
  line-height: 1.5em;
}

/*------------------------------------*/
//  #SELECTION
/*------------------------------------*/

::selection {
  background: hsl(var(--cinnabar__base), calc(var(--cinnabar__lightness) + 15%));
}

a::selection {
	color: var(--white);
}

/*------------------------------------*/
//  #QUOTES
/*------------------------------------*/

blockquote {
	margin: 0;
	color: var(--black);
	@media (prefers-color-scheme: dark) {
		color: var(--white);
	}

	font-size: clamp(1em, 1.5vw, 1.5rem);
	font-weight: bold;
	border-left: none; // I think this is a browser override?
}

blockquote:before {
	content: "\201C "; // quotation mark?
	font-family: var(--header-font-family);
	font-weight: bold;
	font-size: 32px; // hack this should be an em on the type scale
	margin-right: calc(var(--global-margin) * 0.5); // why so small?
}

blockquote p {
	// display: inline; this was to have the quotes inline but it looses the margins so for now it's removed
	font-size: 1.125rem; // type scale?
	line-height: 2rem;
	text-align: left;
}

cite {
	color: var(--nickel);
	margin-left: var(--global-margin);
	margin-block-end: calc(var(--global-margin) * 1.5); // 📣
	word-break: break-all; // I was having problems on small screens citing urls

	@media (min-width: $medium) {
		word-break: normal; // revert back when the small problem doesnt exsist
	}
}

/*------------------------------------*/
//  #HEADINGS
/*------------------------------------*/

.is-style-box-title,
.box-title, .box-title a {
	border: .25em solid var(--black);
	padding: var(--global-padding);
}

.box-title a:hover {
	text-decoration: line-through; // is this different to a regular hover?
}

/*------------------------------------*/
//  #PAGINATION
/*------------------------------------*/

.pagination .prev, .pagination .next {
	font-weight: bold;
}

/* I dont think this is right
.nav-previous, .nav-next {
	font-weight: bold;
} */


// this starts as an h2
//  might need to be clamped
.page-title {
	font-size: 2em;
	justify-self: start;
	word-wrap: break-word;

	@media (min-width: $medium) {
		font-size: 3rem;
		line-height: 4rem;
	}
}